$(document).ready(function(){
    PhotoWall.init({
        el:                 '#gallery-page'          // Gallery element
        ,zoom:              true                     // Use zoom
        ,zoomAction:        'mouseenter'             // Zoom on action
        ,zoomTimeout:       500                      // Timeout before zoom
        ,zoomDuration:      100                      // Zoom duration time
        ,zoomImageBorder:   5                        // Zoomed image border size
        ,showBox:           true                     // Enavle fullscreen mode
        ,showBoxSocial:     true                     // Show social buttons
        ,padding:           10                        // padding between images in gallery
        ,lineMaxHeight:     150                      // Max set height of pictures line
        ,lineMaxHeightDynamic: false                 // Dynamic lineMaxHeight. If set to True,
                                                     // then line height will be changing on
                                                     // resize, coressponding to
                                                     // baseScreenHeight param
        ,baseScreenHeight:  600                      // Base screen size from wich calculating dynamic lineMaxHeight
    });

	PhotoWall.load({{ $gallery->photo_wall }});
});
